body{
    background-color: #FFFCF9
}

header{
    background: #EAE0FF;
    padding: 5px;
}

.logo{
    height: 60px;
    display: inline-block;
}

.logo img{
    width: 60px;
    align: left;
    vertical-align: middle;
}

.logo h1{
    display: inline-block;
    font-size: 32px;
    font-weight: bold; 
    vertical-align: middle;
    color: #3B3840
}

nav{
    background-color: #3B3840
}

nav ul{
    display: inline-block;
}

nav li{
    color: #FFFCF9;
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
}