@font-face{
    font-family: MrPotter;
    src: url("../fonts/DearMrPotter/DearMrPotter-Regular.otf");
}

@font-face{
    font-family: Harry;
    src: url("../fonts/harry_p/HARRYP__.TTF");
}


body{
    background-color: #FFFCF9
}

.container {
    width: 80%;
    margin: 0 auto;
}

header{
    background: #D3A625;
    padding: 5px;
}

.logo{
    height: 60px;
    display: inline-block;
}

.logo img{
    width: 60px;
    vertical-align: middle;
}

.logo h1{
    font-family: Harry;
    display: inline-block;
    font-size: 48px;
    font-weight: bold; 
    vertical-align: middle;
    color: #000
}

nav{
    background-color: #740001
}

nav ul{
    display: inline-block;
}

nav li{
    color: #FFFCF9;
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
}

/*

.section-fundamentos{
    display: inline-block;
    padding: 10px;
    width: 100%;
}

.section-fundamentos-img{
    display: inline-block;
}

.section-fundamentos img{
    border: 4px black solid;
}

.section-fundamentos-conteudo{
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.section-fundamentos-conteudo h1{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px
}

.section-fundamentos-conteudo p{
    font-size: 22px;
    margin: 10px 0;
}

.section-fundamentos-conteudo ul{
    list-style: disc;
    padding-left: 40px;
    font-size: 20px;
}

.section-mapa-maroto{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.section-mapa-maroto h1{
    font-family: MrPotter;
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
    width: 100%;
}

.mapa-maroto{
    margin-top: 10px
}

.mapa-maroto img{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.mapa-maroto a{
    background-color: rgba(0, 0, 0, 0.9);
    border: 5px solid black;
    position: relative;
    text-decoration: none;
    font-size: 90px;
    color: #FFF;
    font-weight: bold;
}

#mapamaroto-frontend{
    top: -700px;
    left: -200px;
}

#mapamaroto-backend{

}

#mapamaroto-devops{

}

*/
.section-search {
    text-align: center;
}

.section-search {
    
}

.section-search-header{
    margin: 20px;

}

.section-search-header img {
    vertical-align: bottom;
    width: 120px;
}

.section-search-header h1 {
    font-family: Harry;
    font-weight: bold;
    font-size: 62px;
}



.card {
    display: inline-block;
    border: black solid 6px;
    border-radius: 10px;
    text-align: center;
    height: 400px;
    width: 260px;
    padding: 10px;
    vertical-align: top;
}

.card img {
    width: 200px;
    height: 200px;
    margin: 30px auto;
}

.card a{
    text-decoration: none;
}

.card h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.card p{
    color: black;
}

.section-search-cards .card{
    margin: 0px 30px;
}





