@font-face{
    font-family: MrPotter;
    src: url("../fonts/DearMrPotter/DearMrPotter-Regular.otf");
}

@font-face{
    font-family: Harry;
    src: url("../fonts/harry_p/HARRYP__.TTF");
}


html, body {
    height: 100%;
}

body{
    background-color: #FFFCF9;
}

header{
    background: #D3A625;
    padding: 5px;
}

main {
    margin: 20px 0 85px 0;
    display: inline-block;
    width: 100%;
}

section {
    display: inline-block;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo{
    height: 60px;
    display: inline-block;
}

.logo img{
    width: 60px;
    vertical-align: middle;
}

.logo h1{
    font-family: Harry;
    display: inline-block;
    padding-top: 6px;
    font-size: 48px;
    font-weight: bold; 
    color: #000
}

nav{
    background-color: #740001
}

nav ul{
    display: inline-block;
}

nav li{
    color: #FFFCF9;
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
}

nav a{
    text-decoration: none;
}

.section-search {
    text-align: center;
}

.section-search-header{
    text-align: center;
    margin: 0 0 30px 0;

}

.section-search-header img {
    vertical-align: bottom;
    width: 120px;
}

.section-search-header h1 {
    font-family: Harry;
    font-weight: bold;
    font-size: 62px;
}



.card {
    display: inline-block;
    border: black solid 6px;
    border-radius: 10px;
    text-align: center;
    height: 400px;
    width: 260px;
    padding: 10px;
    vertical-align: top;
}

.card img {
    width: 200px;
    height: 200px;
    margin: 30px auto;
}

.card a{
    text-decoration: none;
}

.card h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.card p{
    color: black;
}

.section-search-cards .card{
    margin: 0px 30px;
}

.section-search-topics{
    text-align: left;
}

.section-search-topics ul{
    padding: 0px 20px 10px 20px;
}

.section-search-topics li{
    padding-left: 5px;
}



.section-search-topics a{
    text-decoration: none;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #740001;
    padding: 20px 0;
    height: 105px;;
}

#copyright {
    font-size: 22px;
    text-align: right;
}





